.box {
    height: 200px;
    width: 200px;
    /* float: left; */
}
.tomato {
    /* float: left; */
    /* height: 220px; */
    /* width: 50% */
}
.purple {
    /* float: right; */
    /* width: 50%; */
}
.gold {
    /* float: left; */
    clear: left;
    /* width: 100%; */
}
.green {
    /* float: left; */
    /* clear: right; */
    /* width: 100%; */
}
.clearfix {
    /* clear:both; */
}